<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.edu.insper.al.grupo_8.projeto_2">

    <application
        android:name=".Logged"
        android:icon="@drawable/medicine_box"
        android:label="Unifesp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".methods.MethodXActivity" />
        <activity android:name=".methods.MethodIXActivity" />
        <activity android:name=".methods.MethodVIIIActivity" />
        <activity android:name=".methods.MethodVIIActivity" />
        <activity android:name=".methods.MethodVIActivity" />
        <activity android:name=".methods.MethodIVActivity" />
        <activity android:name=".methods.MethodIIActivity" />
        <activity android:name=".methods.MethodIActivity" />
        <activity android:name=".methods.MethodIIIActivity" />
        <activity android:name=".methods.MethodPaciente" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MethodsActivity" />
        <activity android:name=".methods.MethodXIActivity" />
        <activity android:name=".methods.MethodXIIActivity" />
        <activity android:name=".methods.MethodVActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity"/>
    </application>

</manifest>