<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.edu.insper.al.grupo_8.projeto_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Projeto 2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Methods.MethodXActivity" />
        <activity android:name=".Methods.MethodIXActivity" />
        <activity android:name=".Methods.MethodVIIIActivity" />
        <activity android:name=".Methods.MethodVIIActivity" />
        <activity android:name=".Methods.MethodVIActivity" />
        <activity android:name=".Methods.MethodIVActivity" />
        <activity android:name=".Methods.MethodIIActivity" />
        <activity android:name=".Methods.MethodIActivity" />
        <activity android:name=".Methods.MethodIIIActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MethodsActivity" />
        <activity android:name=".Methods.MethodXIActivity" />
        <activity android:name=".Methods.MethodXIIActivity" />
        <activity android:name=".Methods.MethodVActivity" />
        <activity android:name=".Methods.MethodPaciente" />
        <activity android:name=".Methods.MethodPaciente2" />

        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>